.main {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main > h1 {
    font-size: 2.5rem;
    margin: 20px;
}

.event_info > h1, h2, h3 {
    margin: 15px;
}

.event_info > h1 {
    text-decoration: overline;
}

.event_info > h3 {
    border-bottom: 3px solid;
    padding-bottom: 8px;
}

.seats_info button {
    color: #464545;
}

.event_info a {
    text-decoration: underline;
}